<div
  *ngIf="product && !loading"
  class="sm:max-w-[400px] mx-auto p-5 flex flex-col h-[500px]"
>
  <div>
    <img class="w-full" [src]="product.image_url" [alt]="product.name" />
  </div>

  <div class="p-2 h-full">
    <h3 class="font-bold text-gray-800 font-serif text-lg mb-1">
      {{ product.name }}
    </h3>
    <p class="font-medium text-gray-600 mb-1">
      {{ product.price | currency : "USD" }}
    </p>

    <select
      class="rounded bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5"
      name="quantity"
      id="quantity"
      [(ngModel)]="product.quantity"
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="p-2">
    <button
      (click)="onAddToCartClick()"
      class="block rounded w-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium text-sm px-5 py-2.5"
    >
      Add to Cart
    </button>
  </div>
</div>

<p *ngIf="loading" class="text-center text-2xl font-medium p-3">Loading...</p>

<p *ngIf="!loading && !product" class="font-medium text-2xl text-center">
  No product found
</p>
